/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.ul-row {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & li:not(:last-of-type) {
        margin-right: 20px;
    }
}

.text-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.required {
    color: var(--red);
}

.product-page {
    display: flex;
    align-items: stretch;

    &__products {
        &-up {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 1rem 2rem 0 2rem;

            & .text {
                margin-left: 20px;
            }
        }
    }
}
