<div class="product-form">
    <form [formGroup]="form" class="form-group">
        <!--  Product details:  -->
        <div class="mb-3">
            <h5>Category details:</h5>
            <div class="form-group">
                <!--  Input field  -->
                <label for="title">
                    Title<span class="required">*</span>
                </label>
                <input
                    id="title"
                    type="text"
                    class="form-control"
                    formControlName="title"
                    placeholder="Category title"
                    [class.is-invalid]="title.touched && !title.valid">
                <!--  Validation errors  -->
                <app-validation-alert
                    [field-control]="title" field-name="title"
                ></app-validation-alert>
            </div>
        </div>

        <!--  Product category input  -->
        <div class="mb-3">
            <h5>Parent category:</h5>
            <app-category-input
                [selected]="getSelectedParent()"
                (onSelect)="onParentSelect($event)"
            ></app-category-input>
        </div>
        <hr>
        <button
            type="submit"
            [disabled]="!form.dirty || form.invalid"
            class="btn btn-primary"
            (click)="handleSubmit()"
        >Submit
        </button>

    </form>
</div>
