<div *ngIf="loading" class="row text-center">
    <app-loader></app-loader>
</div>

<table *ngIf="!loading" class="cart-table table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Manage</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cartProduct of cartProducts">
            <th scope="row">{{cartProduct.product.id}}</th>
            <td>
                <div class="text-center">
                    <img
                        class="rounded mx-auto d-block"
                        [alt]="cartProduct.product.title"
                        [src]="getImageSrc(cartProduct.product.image.small)"
                    >
                </div>
                <div class="text-center">
                    {{cartProduct.product.title}}
                </div>
            </td>
            <td>{{cartProduct.product.price | currency}}</td>
            <td>
                <button class="btn btn-light" (click)="onDecrease(cartProduct)">
                &#8249;
                </button>
                <span class="quantity">{{cartProduct.quantity}}</span>
                <button class="btn btn-light" (click)="onIncrease(cartProduct)">
                &#8250;
                </button>
            </td>
            <td>
                <button class="btn btn-light" (click)="onDelete(cartProduct)">
                &#x2715;
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="cartProducts.length > 0" class="d-flex align-items-end">
    <button (click)="onClearCart()" class="btn btn-danger">Clear Cart</button>
</div>

<div class="total">
    Total:<span class="total-price">{{total | currency}}</span>
</div>
